body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:836px;
}
#u1283 {
  position:absolute;
  left:0px;
  top:0px;
  width:1352px;
  height:836px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:410px;
  width:1348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:489px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1285 {
  position:absolute;
  left:141px;
  top:193px;
  width:1071px;
  height:489px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:236px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1287 {
  position:absolute;
  left:145px;
  top:204px;
  width:1078px;
  height:58px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:21px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289 {
  position:absolute;
  left:145px;
  top:303px;
  width:1083px;
  height:351px;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:31px;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1291 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:31px;
}
#u1292 {
  position:absolute;
  left:264px;
  top:0px;
  width:312px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1293 {
  position:absolute;
  left:2px;
  top:6px;
  width:308px;
  word-wrap:break-word;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:31px;
}
#u1294 {
  position:absolute;
  left:576px;
  top:0px;
  width:238px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1295 {
  position:absolute;
  left:2px;
  top:6px;
  width:234px;
  word-wrap:break-word;
}
#u1296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:31px;
}
#u1296 {
  position:absolute;
  left:814px;
  top:0px;
  width:264px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1297 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:40px;
}
#u1298 {
  position:absolute;
  left:0px;
  top:31px;
  width:264px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1299 {
  position:absolute;
  left:2px;
  top:11px;
  width:260px;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:40px;
}
#u1300 {
  position:absolute;
  left:264px;
  top:31px;
  width:312px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1301 {
  position:absolute;
  left:2px;
  top:11px;
  width:308px;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:40px;
}
#u1302 {
  position:absolute;
  left:576px;
  top:31px;
  width:238px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1303 {
  position:absolute;
  left:2px;
  top:11px;
  width:234px;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:40px;
}
#u1304 {
  position:absolute;
  left:814px;
  top:31px;
  width:264px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1305 {
  position:absolute;
  left:2px;
  top:11px;
  width:260px;
  word-wrap:break-word;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:31px;
}
#u1306 {
  position:absolute;
  left:0px;
  top:71px;
  width:264px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1307 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:31px;
}
#u1308 {
  position:absolute;
  left:264px;
  top:71px;
  width:312px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1309 {
  position:absolute;
  left:2px;
  top:6px;
  width:308px;
  word-wrap:break-word;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:31px;
}
#u1310 {
  position:absolute;
  left:576px;
  top:71px;
  width:238px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1311 {
  position:absolute;
  left:2px;
  top:6px;
  width:234px;
  word-wrap:break-word;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:31px;
}
#u1312 {
  position:absolute;
  left:814px;
  top:71px;
  width:264px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1313 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1314 {
  position:absolute;
  left:0px;
  top:102px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1315 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u1316 {
  position:absolute;
  left:264px;
  top:102px;
  width:312px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1317 {
  position:absolute;
  left:2px;
  top:6px;
  width:308px;
  word-wrap:break-word;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u1318 {
  position:absolute;
  left:576px;
  top:102px;
  width:238px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1319 {
  position:absolute;
  left:2px;
  top:6px;
  width:234px;
  word-wrap:break-word;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1320 {
  position:absolute;
  left:814px;
  top:102px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1321 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1322 {
  position:absolute;
  left:0px;
  top:132px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1323 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u1324 {
  position:absolute;
  left:264px;
  top:132px;
  width:312px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1325 {
  position:absolute;
  left:2px;
  top:6px;
  width:308px;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u1326 {
  position:absolute;
  left:576px;
  top:132px;
  width:238px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1327 {
  position:absolute;
  left:2px;
  top:6px;
  width:234px;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1328 {
  position:absolute;
  left:814px;
  top:132px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1329 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:32px;
}
#u1330 {
  position:absolute;
  left:0px;
  top:162px;
  width:264px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1331 {
  position:absolute;
  left:2px;
  top:7px;
  width:260px;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:32px;
}
#u1332 {
  position:absolute;
  left:264px;
  top:162px;
  width:312px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1333 {
  position:absolute;
  left:2px;
  top:7px;
  width:308px;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:32px;
}
#u1334 {
  position:absolute;
  left:576px;
  top:162px;
  width:238px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1335 {
  position:absolute;
  left:2px;
  top:7px;
  width:234px;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:32px;
}
#u1336 {
  position:absolute;
  left:814px;
  top:162px;
  width:264px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1337 {
  position:absolute;
  left:2px;
  top:7px;
  width:260px;
  word-wrap:break-word;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1338 {
  position:absolute;
  left:0px;
  top:194px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1339 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u1340 {
  position:absolute;
  left:264px;
  top:194px;
  width:312px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1341 {
  position:absolute;
  left:2px;
  top:6px;
  width:308px;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u1342 {
  position:absolute;
  left:576px;
  top:194px;
  width:238px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1343 {
  position:absolute;
  left:2px;
  top:6px;
  width:234px;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1344 {
  position:absolute;
  left:814px;
  top:194px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1345 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:32px;
}
#u1346 {
  position:absolute;
  left:0px;
  top:224px;
  width:264px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1347 {
  position:absolute;
  left:2px;
  top:7px;
  width:260px;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:32px;
}
#u1348 {
  position:absolute;
  left:264px;
  top:224px;
  width:312px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1349 {
  position:absolute;
  left:2px;
  top:7px;
  width:308px;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:32px;
}
#u1350 {
  position:absolute;
  left:576px;
  top:224px;
  width:238px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1351 {
  position:absolute;
  left:2px;
  top:7px;
  width:234px;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:32px;
}
#u1352 {
  position:absolute;
  left:814px;
  top:224px;
  width:264px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1353 {
  position:absolute;
  left:2px;
  top:7px;
  width:260px;
  word-wrap:break-word;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1354 {
  position:absolute;
  left:0px;
  top:256px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1355 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u1356 {
  position:absolute;
  left:264px;
  top:256px;
  width:312px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1357 {
  position:absolute;
  left:2px;
  top:6px;
  width:308px;
  word-wrap:break-word;
}
#u1358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u1358 {
  position:absolute;
  left:576px;
  top:256px;
  width:238px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1359 {
  position:absolute;
  left:2px;
  top:6px;
  width:234px;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1360 {
  position:absolute;
  left:814px;
  top:256px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1361 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1362 {
  position:absolute;
  left:0px;
  top:286px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1363 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u1364 {
  position:absolute;
  left:264px;
  top:286px;
  width:312px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1365 {
  position:absolute;
  left:2px;
  top:6px;
  width:308px;
  word-wrap:break-word;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u1366 {
  position:absolute;
  left:576px;
  top:286px;
  width:238px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1367 {
  position:absolute;
  left:2px;
  top:6px;
  width:234px;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1368 {
  position:absolute;
  left:814px;
  top:286px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1369 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1370 {
  position:absolute;
  left:0px;
  top:316px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1371 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u1372 {
  position:absolute;
  left:264px;
  top:316px;
  width:312px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1373 {
  position:absolute;
  left:2px;
  top:6px;
  width:308px;
  word-wrap:break-word;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:30px;
}
#u1374 {
  position:absolute;
  left:576px;
  top:316px;
  width:238px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1375 {
  position:absolute;
  left:2px;
  top:6px;
  width:234px;
  word-wrap:break-word;
}
#u1376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
}
#u1376 {
  position:absolute;
  left:814px;
  top:316px;
  width:264px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1377 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1378 {
  position:absolute;
  left:169px;
  top:132px;
  width:109px;
  height:31px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1380 {
  position:absolute;
  left:174px;
  top:143px;
  width:57px;
  height:20px;
  color:#FF0000;
}
#u1381 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1382 {
  position:absolute;
  left:169px;
  top:221px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1383 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1384 {
  position:absolute;
  left:262px;
  top:224px;
  width:300px;
  height:22px;
}
#u1384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1384_input:disabled {
  color:grayText;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1385 {
  position:absolute;
  left:1083px;
  top:219px;
  width:129px;
  height:27px;
}
#u1386 {
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1387 {
  position:absolute;
  left:606px;
  top:741px;
  width:140px;
  height:40px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1389 {
  position:absolute;
  left:1458px;
  top:153px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1391 {
  position:absolute;
  left:1460px;
  top:193px;
  width:500px;
  height:44px;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u1392 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1393 {
  position:absolute;
  left:1408px;
  top:143px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u1394 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
