body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u0 {
  position:absolute;
  left:351px;
  top:98px;
  width:579px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:18px;
  top:215px;
  width:121px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:18px;
  top:273px;
  width:1335px;
  height:210px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:202px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
}
#u7 {
  position:absolute;
  left:206px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:216px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:25px;
}
#u9 {
  position:absolute;
  left:426px;
  top:0px;
  width:431px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:427px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
}
#u11 {
  position:absolute;
  left:857px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:240px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:25px;
}
#u13 {
  position:absolute;
  left:1101px;
  top:0px;
  width:229px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:225px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:64px;
}
#u15 {
  position:absolute;
  left:0px;
  top:25px;
  width:206px;
  height:64px;
}
#u16 {
  position:absolute;
  left:2px;
  top:24px;
  width:202px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:64px;
}
#u17 {
  position:absolute;
  left:206px;
  top:25px;
  width:220px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18 {
  position:absolute;
  left:2px;
  top:23px;
  width:216px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:64px;
}
#u19 {
  position:absolute;
  left:426px;
  top:25px;
  width:431px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u20 {
  position:absolute;
  left:2px;
  top:23px;
  width:427px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:64px;
}
#u21 {
  position:absolute;
  left:857px;
  top:25px;
  width:244px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:2px;
  top:23px;
  width:240px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:64px;
}
#u23 {
  position:absolute;
  left:1101px;
  top:25px;
  width:229px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u24 {
  position:absolute;
  left:2px;
  top:23px;
  width:225px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:58px;
}
#u25 {
  position:absolute;
  left:0px;
  top:89px;
  width:206px;
  height:58px;
}
#u26 {
  position:absolute;
  left:2px;
  top:21px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:58px;
}
#u27 {
  position:absolute;
  left:206px;
  top:89px;
  width:220px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u28 {
  position:absolute;
  left:2px;
  top:21px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:58px;
}
#u29 {
  position:absolute;
  left:426px;
  top:89px;
  width:431px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u30 {
  position:absolute;
  left:2px;
  top:21px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:58px;
}
#u31 {
  position:absolute;
  left:857px;
  top:89px;
  width:244px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u32 {
  position:absolute;
  left:2px;
  top:21px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:58px;
}
#u33 {
  position:absolute;
  left:1101px;
  top:89px;
  width:229px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u34 {
  position:absolute;
  left:2px;
  top:21px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:58px;
}
#u35 {
  position:absolute;
  left:0px;
  top:147px;
  width:206px;
  height:58px;
}
#u36 {
  position:absolute;
  left:2px;
  top:21px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:58px;
}
#u37 {
  position:absolute;
  left:206px;
  top:147px;
  width:220px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u38 {
  position:absolute;
  left:2px;
  top:21px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:58px;
}
#u39 {
  position:absolute;
  left:426px;
  top:147px;
  width:431px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u40 {
  position:absolute;
  left:2px;
  top:21px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:58px;
}
#u41 {
  position:absolute;
  left:857px;
  top:147px;
  width:244px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u42 {
  position:absolute;
  left:2px;
  top:21px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:58px;
}
#u43 {
  position:absolute;
  left:1101px;
  top:147px;
  width:229px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u44 {
  position:absolute;
  left:2px;
  top:21px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
